@import '../util/variables.scss';
@import '../util/transitions.scss';

#more-button-group {
  width: 70%;
  margin-top: 15px;
  margin-bottom: 15px;
  .btn {
    padding: 15px;
  }
}

#english-jumbo-1 {
  min-height: 100vh;
  background-color: #FFF;
  #usa {
    height: 80vh;
    margin-left: auto;
    margin-right: auto;
    display: block;
  }
  #paw {
    @extend .transitionWave;
    height: 30vh;
    transition: transform 0.3s ease-in-out;
  }
}

#english-jumbo-2 {
  background-color: $color-brown;
  .overlay-container {
    margin-top: 25px;
    margin-bottom: 25px;
    #globe {
      height: 80vh;
      margin-left: auto;
      margin-right: auto;
      display: block;
    }
    #overlay-paw {
      @extend .transitionWave;
      height: 30vh;
      transition: transform 0.3s ease-in-out;
    }
  }
}
