$navbar-height: 64px;

#main-nav {
  min-height: $navbar-height;
  line-height: $navbar-height;
  padding: 0px;
  border-width: 0px;
  background-color: #ffecb3;
  .container {
    min-height: $navbar-height;
    .navbar-header {
      .navbar-brand {
        min-height: $navbar-height;
        padding: 7px;
        #logo {
          height: 100%;;
        }
      }
      h4 {
        line-height: $navbar-height;
        margin: 0px;
        color: #000;
        font-weight: bold;
        text-transform: uppercase;
      }
    }
    .navbar-nav {
      min-height: $navbar-height;
      li {
        min-height: $navbar-height;
        a {
          line-height: $navbar-height;
          padding-top: 0px;
          padding-bottom: 0px;
        }
      }
    }
  }
}
