@import './components/_mainnav.scss';
@import './components/_footer.scss';
@import './components/_homepage.scss';
@import './components/_englishpage.scss';
@import './components/_staffpage.scss';
@import './util/variables.scss';

.badge {
  padding: 6px 10px;
}
.badge.warning {
  background-color: #f0ad4e;
}

.lg-icon {
  margin-top: -5vw;
  margin-bottom: 10vw;
  width: 30vw;
  height: 30vw;
  font-size: 30vw;
}

body {
  background-color: $color-tan;
  overflow-x: hidden;
  max-width: 100%;
}

*:not(.material-icons) {
  font-family: $primary-font !important;
}

*:not(.selectable) {
  user-select: none;
}
h5.selectable {
  user-select: text;
  * {
    user-select: text;
  }
}

.overlay-container {
  position: relative;
  .overlay {
    display: block;
    position: absolute;
    margin:auto;
    top: 0;
    left: 0;
    bottom: 0;
    right: 0;
  }
}

.inline-block {
  display: inline-block;
}
.flex {
  display: flex;
}
.flex-row {
  margin-bottom: 10px;
}
.flex-align-center {
  align-items: center;
}
.table {
  display: table;
}
.table-cell {
  display: table-cell;
}
.badge-circle {
  margin-right: 10px;
  border-radius: 100%;
  background-color: #292c2f;
  height: 40px;
  flex: 0 0 40px;
  line-height: 40px;
  text-align: center;
  transition: transform 0.3s ease-in-out;
  &:hover {
    transform: rotate(12deg);
  }
}

.spaced {
  letter-spacing: 0.5px;
}
.font-size-14 {
  font-size: 14px !important;
}
.font-size-16 {
  font-size: 16px;
}

.width-100 {
  min-width: 100%;
}
.height-100 {
  min-height: 100%;
}

.line-height-34 {
  line-height: 34px;
}
.line-height-40 {
  line-height: 40px;
}
.margin-bottom-40 {
  margin-bottom: 40px;
}

.horizontal-center {
  display: block;
  margin-left: auto;
  margin-right: auto;
}
.vertical-center {
  align-items: center;
}
.vertical-align-middle {
  vertical-align: middle;
}

.material-icons {
  line-height: inherit;
  vertical-align: middle;
}

.btn {
  transition: background-color 0.4s ease-in-out, color 0.4s ease-in-out;
}

.transparent {
  background-color: transparent;
  color: #FFF;
}

.text-center {
  text-align: center;
}

.white {
  background: #FFF;
}
.black {
  background: #000;
}
.brown {
  background: $color-brown;
}
.tan {
  background: $color-tan;
}
.text-dark-grey {
  color: #4e4e4e;
}
.text-grey {
  color: #9e9e9e;
}
.text-light-grey {
  color: #eeeeee;
}
.text-white {
  color: #FFF;
}
h1.text-white {
  color: #FFF;
}
.text-bold {
  font-weight: bold;
}
h1.text-bold {
  font-weight: bold;
}
h4.text-capitalize {
  text-transform: uppercase;
}
h1.text-capitalize {
  text-transform: uppercase;
}

h1.smooth-text {
  text-shadow: 1px 1px 1px rgba(0,0,0,0.004);
  text-rendering: optimizeLegibility !important;
}
