@keyframes expandHeight {
  0% {
    transform: translateY(-50%) scaleY(0);
  }
  100% {
    transform: translateY(0%) scaleY(1);
  }
}

.transitionExpandHeight {
  animation-name: expandHeight;
  animation-duration: 0.2s;
  animation-timing-function: ease-in-out;
}

@keyframes wave {
  0% {
    transform: rotate(-8deg);
  }
  50% {
    transform: rotate(8deg);
  }
  100% {
    transform: rotate(-8deg);
  }
}

.transitionWave {
  transform: rotate(-8deg);
  animation-name: wave;
  animation-duration: 0.8s;
  animation-timing-function: ease-in-out;
  animation-iteration-count: infinite;
}
